body {
    background-image: url('../res/deathrunbg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    width: 300px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #FFD700;
}
form{
    background-color: #ffd900;
    padding: 5%;
    border-radius: 20px;
    border: 1px solid black;
}

form label {
    border-bottom: #333 solid;
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
}

form input[type="text"]{
    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}
form input[type="color"] {
    width: 100%;

    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}
form button {
    background-color: #c5a700;
    color: black;
    border: none;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

form button:hover {
    background-color: #e5b700;
    border: solid 1px black;
    transform: scale(1.05);
}